#header{
	background-color: rgb(141, 25, 25);
 	margin-top: 0px;
  	height: 80px;
   	color: white;
   }
   body {
		background-color: rgb(141, 25, 25);
   }

   
.logo{
	font-size: 40px;  
  font-family: Sans-serif;
  margin-top: 20px;
  margin-left: 10px;
}

.hyperlink{
	font-size: 20px;
	float:left;
	width: 25%;
	margin-top: 30px;
	color: hsl(0, 0%, 85%);
	text-decoration: none;
}
.hyperlink:hover{
	color: black;
	text-decoration: overline;
	 
	 }
 .sticky {
		position: fixed;
		top: 0;
		width: 99%;
		z-index: 2;
	}
	.style{
		font-style: oblique;
		font-size:30px;
		font-family: Arial, Helvetica, sans-serif;
		}
		
   .column {
	float: left;
	padding: 20px;
	width:20%;
	margin-top:20px;
	background-color:rgb(228, 223, 203);
	
	
  }
  .menu {
	width:30%;
	background-color:rgb(228, 223, 203);

  }
  .content{
	  width: 60%;
	  font-size:20px;
		color:rgb(12, 12, 12);
		background-color:rgb(228, 223, 203);
  }
  <!--pjesa3-->

  {
	font-family: Arial;
	padding: 20px;
	
  }
  
  .leftcolumn {   
	float: left;
	width: 85%;
	padding-right:0px;
  }
  
  .rightcolumn {
	float: left;
	width: 85%;
	padding-left: 0px;
  }
  
  .card {
	 background-color: rgb(228, 223, 203);
	 padding: 20px;
	 margin-top: 20px;
	 margin-left: 15%;
	 margin-right: -3%;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
	}
	.mouse{
		font-size:20px;
		width: 50%;
		height: 100%;
		float: left;
	}
  
.mouse_djatht{
		width: 48%;
		float: right;
		height: 100%;
	}

  .footer {
	padding: 10px;
	color:white;
	text-align: center;
	background: rgb(78, 9, 9);
	
	margin-left:14.8%;
	margin-top: 0;
	width:86.6%;
	border-radius: 5px;

  }
  li:hover{
  	color: #24c3b5;
  }
  
  